html{
    background: royalblue;
    padding-top: 30px;
    padding-bottom: 30px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ,Tahoma,sans-serif;
    color: #202020; 
    max-width: 1300px;
    background: white;
    margin: 0 auto;
    border-radius: 10px;
    border: 3px inset black;
    min-height: 100vh;
    padding-bottom: 30px;
}
p.contact{
    margin-bottom: 0;
    line-height: 90%;
}
nav.contact{
    height: 100px;
    text-align: right;
    float: right;
    width: 300px;
    height: 100px;
    text-align: left;
}
/* Rozmir Shapku Site */
img.logo-img{
    width: 300px;
    height: 100px;
    padding: 20px;
}
/* psewdo klas fix bloka main */
.main::after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.site-header{
    text-align: left;/* Wuriwn texty po centry */    
}
.site-header h1{
    border-bottom: steelblue solid 1px;
    padding: 20px;
}
/* Rozdilajem na 3 kolonky */
.sidebar{
    width: 15%;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
}
p{
    line-height: 150%;
    margin-bottom: 20px;
}
a {
    color: #220022;
}
figcaption{
    text-align: center;
    font-size: 14px;
    padding: 6px;
}
article{
    width: 76%;
    float: left;
    margin-right: 2%;
}
aside{
    width: 30%;
    float: left;
}
nav ul{
    margin: 20px 0;
    padding-left: 20px;
}
nav li {
    margin-bottom: 15px;
}
/* Vidstyp na 10 px pru navedeni mouse na giper sulky*/
nav.left a:hover{
padding-left: 10px;

}
nav ul li a{
    text-decoration: none;
}
aside img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
img.article{
display: block;
margin: 0 auto;
width: 40vh;
}